<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.name %>: <%= event.location %>, <%= number_to_currency(event.price, precision: 2) %>
    </li>
    <p><%= event.description %></p>
    <p><%= event.starts_at %></p>
  <% end %>
</ul>